.left {
    background-color: #fff0e1;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
    background-color: skyblue;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 45px;
    height: 150px;
    /* background-color: white; */
    background: url(pngkey.com-rocket-flame-png-1624816.png) no-repeat center center;
    background-size: 100%;
    transition: bottom 9000ms;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1 {
    display: block;
}

body.body-state2 .state2 {
    display: block;
}

body.body-state3 .state3 {
    display: block;
}

body.body-state4 .state4 {
    display: block;
}

body.body-state5 .state5 {
    display: block;
}